html,
body {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.wholeRoute {
	z-index: 550 !important;
}
.partRoute {
	z-index: 660 !important;
}
.live {
	z-index: 670 !important;
}
.markers {
	z-index: 680 !important;
}
.cross {
	color: gray;
}
.cross:hover {
	color: black;
	border: 3px solid black !important;
}
ul li {
	margin-bottom: 10px;
}

.container {
	position: relative;
}

.scroll::-webkit-scrollbar {
	display: none;
}
.scroll {
	scrollbar-width: none;
}

.pin {
	border-radius: 50%;
	border: 7px solid blue;
	width: 32px;
	height: 32px;
	color: black;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	background-color: #fff;
	z-index: 700 !important;
}

.pin::after {
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
	bottom: -37px;
	left: 3px;
	border: 13px solid transparent;
	border-top: 21px solid blue;
}

.table-container {
	width: 100%;
	max-width: 100%;
	overflow-x: scroll;
}

.start {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 4px solid white;
	background-color: green;
}

.end {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 3px solid white;
	background: conic-gradient(
		white 90deg,
		black 90deg 180deg,
		white 180deg 270deg,
		black 270deg
	);
	background-repeat: repeat;
	background-size: 5px 5px;
	background-position: top left;
}
